.container-fluid .phong {
  height: 600px;
  background: #aad4ff;
  background: linear-gradient(45deg, #56aaff, #007fff);
}
@media screen and (max-width: 767px) {
  .container-fluid .phong {
    height: 300px;
  }
}
.container-fluid .phong .box1 .logo {
  width: 100%;
  height: 15%;
  margin-top: 2%;
  float: left;
}
.container-fluid .phong .box1 .logo h3 {
  text-align: center;
  color: white;
}
.container-fluid .phong .box1 .menu {
  margin: 0;
  float: left;
}
@media screen and (max-width: 767px) {
  .container-fluid .phong .box1 .menu {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .container-fluid .phong .box1 .menu .navbar-brand {
    display: none;
  }
}
.container-fluid .phong .box1 .menu .navbar-collapse {
  margin-top: 2%;
}
.container-fluid .phong .box1 .menu .navbar-collapse .navbar-nav {
  width: 100%;
}
.container-fluid .phong .box1 .menu .navbar-collapse .navbar-nav .nav-item {
  margin-left: 5%;
}
@media screen and (max-width: 767px) {
  .container-fluid .phong .box1 .menu .navbar-collapse .navbar-nav .nav-item {
    margin-left: -5%;
  }
}
.container-fluid .phong .box1 .menu .navbar-collapse .navbar-nav .nav-item .nav-item {
  color: white;
}
.container-fluid .phong .box1 .login {
  margin-top: 2%;
  height: 15%;
  float: left;
}
@media screen and (max-width: 767px) {
  .container-fluid .phong .box1 .login {
    width: 20%;
  }
}
.container-fluid .phong .box1 .login .btn {
  text-align: center;
  margin-left: 25%;
}
@media screen and (max-width: 767px) {
  .container-fluid .phong .box1 .login .btn {
    margin-left: -25%;
    font-size: 90%;
  }
}
.container-fluid .phong .box1 .login .btn:hover {
  color: red;
}
.container-fluid .phong .box2 {
  width: 100%;
  margin-top: -18%;
}
.container-fluid .phong .box2 h1 {
  margin-top: 10%;
  text-align: center;
}
.container-fluid .phong .box2 h4 {
  text-align: center;
}
.container-fluid .phong .box2 a {
  text-decoration: none;
}
.container-fluid .son {
  background: green;
  height: 500px;
}
.container-fluid {
  margin-top: 15px;
  width: 100%;
  height: 550px;
  background-image: url("img_bg.jpg");
}
@media (max-width: 992px) {
  .container-fluid {
    height: 400px;
  }
}
.container-fluid .container .hinh .col-md-8 {
  width: 100%;
  height: 600px;
}
.container-fluid .container .hinh .col-md-8 h1 {
  display: block;
  text-align: center;
  font-size: 65px;
  margin-top: 30%;
  color: white;
  font-family: sans-serif;
}
@media (max-width: 992px) {
  .container-fluid .container .hinh .col-md-8 h1 {
    font-size: 40px;
    margin-top: 30%;
  }
}
.container-fluid .container .hinh .col-md-8 h5 {
  font-size: 20px;
  display: block;
  text-align: center;
  color: white;
}
.container-fluid .container .hinh .col-md-8 h5 a {
  color: #52d3aa;
  text-decoration: none;
}
@media (max-width: 992px) {
  .container-fluid .container .hinh .col-md-8 h5 {
    font-size: 20px;
  }
}
.container .v1 {
  height: 150px;
}
.container .v1 h2 {
  display: block;
  float: left;
  margin: auto;
}
.container .v2 img {
  display: block;
  margin: 0 auto;
}
.container .v2 h3,
.container .v2 p {
  text-align: center;
}
.container .v2 button {
  margin: 0 auto;
  background: blue;
  float: left;
}
.container .v2 button img {
  width: 20px;
  height: 20px;
}
.container .v3 {
  width: 60%;
  margin: 0 auto;
}
.container .col-lg-4 {
  margin-bottom: 5px;
}
