

.container-fluid{

	.phong{
		height: 600px;
		background: #aad4ff;
		background: linear-gradient(45deg,#56aaff,#007fff);
		@media screen and (max-width: 767px){
			height: 300px;
		}
		.box1{
			// height: 15%;
			// background: #654;

			.logo{
				width: 100%;
				// background: #523;
				height: 15%;
				margin-top: 2%;
				float: left;
				h3{
					text-align: center;
					color: white;
				}
			}.menu{
				margin: 0;
				float: left;
				@media screen and (max-width: 767px){
					width: 80%;
				}
				@media screen and (min-width: 1024px){
					.navbar-brand{
						display: none;
					}
				}
				.navbar-collapse{
					margin-top: 2%;
					// background: #987;
					.navbar-nav{
						width: 100%;
						// background: #423;
						.nav-item{
							margin-left: 5%;
							@media screen and (max-width: 767px){
								margin-left: -5%;
							}
							.nav-item{
								color: white;
							}
						}
					}
				}
			}
			.login{
				margin-top: 2%;
				// background: #314;
				height: 15%;
				float: left;
				@media screen and (max-width: 767px){
					width: 20%;
				}
				.btn{
					text-align: center;
					margin-left: 25%;
					@media screen and (max-width: 767px){
						margin-left: -25%;
						font-size: 90%
					}
					&:hover{
						color: red;
					}
				}
			}
		}
		.box2{
			width: 100%;
			// background: gray;
			margin-top: -18%;	
			@media screen and (max-width: 767px){
				// margin-top: -50%;
			}
			h1{
				margin-top: 10%;
				text-align: center;
			}
			h4{
				text-align: center;
			}
			a{
				text-decoration: none;
			}
		}
	}

	.son{
		background: green;
		height: 500px;
	}

}

.container-fluid{
	margin-top: 15px;
	width: 100%;
	height: 550px;
	background-image: url("img_bg.jpg");
	@media (max-width: 992px){
		height: 400px;

	}

	
	.container{
		
		.hinh{
			.col-md-8{
				width: 100%;
				height: 600px;
			// background: red;
			// @media (max-width: 992px){
			// 	height: 400px;
			// }
			// @media (min-width: 992px)
			// {
			// 	width: 66.66667%;
			// }
			h1{
				display: block;
				text-align: center;
				font-size: 65px;
				margin-top: 30%;
				color:white;
				// font-weight: bold;
				font-family: sans-serif;
				@media (max-width: 992px)
				{
					font-size: 40px;
					margin-top: 30%;
				}
			}
			h5{
				font-size: 20px;
				display: block;
				text-align: center;
				color:white;
				a{
					color:#52d3aa;
					text-decoration: none;
				}
				@media (max-width: 992px)
				{
					font-size: 20px;
				}
			}
		}

		

	}
}

}


.container{
	.v1{
		height: 150px;
		// background: red;
		h2{
			display: block;
			float: left;
			margin: auto;
		}
	}
	.v2{
		// background: yellow;
		img{
			display: block;
			margin: 0 auto;
		}
		h3,p{
			text-align: center;
		}
		button{
			margin: 0 auto;
			background: blue;
			float: left;
			img{
			width: 20px;
			height: 20px;
			}
		}
	}
	.v3{
		width: 60%;
		margin: 0 auto;
	}
	.col-lg-4{
		margin-bottom: 5px;
	}
}
