.container-fluid{
	height: 600px; background: green;
	.v1{
		height: 250px;
		// background: pink;
		.card{
			width: 100%;
			border: none;
			h5{
				text-transform: uppercase;
			}
		}
	}
	.v2{
		height: 250px;
		// background: green;
		.v2-1{
			height: 250px;
			// background: green;
			.nav-link{
				color: black;
			}
		}
	}
	.v3{
		height: 70px;
		// background: pink;
		border: none;
		.card{
			height: 70px;
			border: none;
		}
	}
	.v4{
		height: 70px;
		float: right;
		// background: red;
		.fab{
			float: right;
			margin-top: 10px;
			margin-left: 20px;
		}
	}
}
@media screen and (max-width: 767px){
	.v3{
		.card{
			.card-text{
				text-align: center;
			}
		}
		
	}
	.v4{
		margin-right: 20%;
		margin-top: 5%;
	}
}